# WORD EMBEDDING

# Import libraries

In [1]:
import numpy as np
import pandas as pd

# Import Data

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Meetup - 28.02.23/data.csv')
df

         name                                               text
0       Sarah  Sarah is overjoyed with the news of her promot...
1     Michael  Michael is thrilled to be going on a trip to E...
2        Emma  Emma is ecstatic about her new relationship an...
3       David  David is elated after finishing his first mara...
4      Olivia  Olivia is thrilled to be accepted into her dre...
5       Ethan  Ethan is overjoyed to be a new dad and is trea...
6         Ava  Ava is ecstatic after getting a promotion at w...
7      Daniel  Daniel is thrilled to be moving into his first...
8      Sophia  Sophia is overjoyed after getting engaged to h...
9       Lucas  Lucas is ecstatic after getting his dream job ...
10   Isabella  Isabella is thrilled to be going on a vacation...
11      Jacob  Jacob is overjoyed after getting accepted into...
12        Mia  Mia is elated after winning first place in a d...
13       Noah  Noah is thrilled to be a new homeowner and is ...
14  Charlotte  Charlotte is ecstatic after getting tickets to...

# Analyzing the Data
### focus on one row

In [3]:
df['text'][0] = "Sarah lives in tel aviv, Sarah is overjoyed with the news of her promotion and can't wait to start her new job. Sarah is feeling anxious about her upcoming presentation and is practicing her speech over and over again. Sarah is heartbroken after her dog passed away and is taking some time off work to grieve.,"

# Installing OpenAI Packages

In [4]:
pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.26.5.tar.gz (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.5/55.5 KB 2.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.25.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (3.0.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.8.2)
Building wheels for collected packages: openai
  Building wheel for openai (pyproject.toml) ... done
  Created wheel for openai: filename=openai-0.26.5-py3-none-any.whl size=67620 sha256=0a13e2a0606688ee2ed387d248dc43513a6533711a952015476174f87f069548
  Stored in directory: /root/.cache/pip/wheels/a7/47/99/8273a59fbd59c303e8ff175416d5c1c9c03a2e83ebf7525a99
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.26.5

# Importing OpenAI
# Make a API KEY

In [5]:
import openai
openai.api_key = 'api_key'

# Get Embedding function

In [6]:
def get_embedding(text, model="text-embedding-ada-002"):
   text = text.replace("\n", " ")
   return openai.Embedding.create(input = [text], model=model)['data'][0]['embedding']

# How it looks like

In [7]:
emb = get_embedding('HEY')

In [ ]:
emb

In [9]:
df

         name                                               text
0       Sarah  Sarah lives in tel aviv, Sarah is overjoyed wi...
1     Michael  Michael is thrilled to be going on a trip to E...
2        Emma  Emma is ecstatic about her new relationship an...
3       David  David is elated after finishing his first mara...
4      Olivia  Olivia is thrilled to be accepted into her dre...
5       Ethan  Ethan is overjoyed to be a new dad and is trea...
6         Ava  Ava is ecstatic after getting a promotion at w...
7      Daniel  Daniel is thrilled to be moving into his first...
8      Sophia  Sophia is overjoyed after getting engaged to h...
9       Lucas  Lucas is ecstatic after getting his dream job ...
10   Isabella  Isabella is thrilled to be going on a vacation...
11      Jacob  Jacob is overjoyed after getting accepted into...
12        Mia  Mia is elated after winning first place in a d...
13       Noah  Noah is thrilled to be a new homeowner and is ...
14  Charlotte  Charlotte is ecstatic after getting tickets to...

# New Get Embedding function

In [10]:
def get_embedding(texts, model="text-embedding-ada-002"):
   texts = [text.replace("\n", " ") for text in texts]
   return [tx['embedding'] for tx in openai.Embedding.create(input = texts, model=model)['data']]

In [11]:
embs = get_embedding(['hey','bye'])
len(embs)

2

# list of embeddibg to our text

In [12]:
batch_size = 20
embs = []

for i in range(0,len(df),batch_size):
  embs += get_embedding(df.iloc[i:i+batch_size]['text'])

In [13]:
len(embs)

15

In [14]:
df['embeddings'] = embs

In [16]:
df

,name,text,embeddings
0,Sarah,"Sarah lives in tel aviv, Sarah is overjoyed wi...","[-0.01752377115190029, -0.012456578202545643, ..."
1,Michael,Michael is thrilled to be going on a trip to E...,"[-0.004104881081730127, -0.03133073076605797, ..."
2,Emma,Emma is ecstatic about her new relationship an...,"[-0.016136551275849342, -0.016551975160837173,..."
3,David,David is elated after finishing his first mara...,"[-0.030624326318502426, -0.016445420682430267,..."
4,Olivia,Olivia is thrilled to be accepted into her dre...,"[-0.008352238684892654, -0.02371164597570896, ..."
5,Ethan,Ethan is overjoyed to be a new dad and is trea...,"[-0.015730954706668854, -0.02074720337986946, ..."
6,Ava,Ava is ecstatic after getting a promotion at w...,"[-0.02229701168835163, -0.01428157463669777, 0..."
7,Daniel,Daniel is thrilled to be moving into his first...,"[0.0008735249866731465, 0.010632514022290707, ..."
8,Sophia,Sophia is overjoyed after getting engaged to h...,"[0.0029820336494594812, -0.022900402545928955,..."
9,Lucas,Lucas is ecstatic after getting his dream job ...,"[-0.009209472686052322, -0.00729331886395812, ..."
10,Isabella,Isabella is thrilled to be going on a vacation...,"[-0.006672471296042204, -0.003711354685947299,..."
11,Jacob,Jacob is overjoyed after getting accepted into...,"[-0.0045298621989786625, -0.012968610040843487..."
12,Mia,Mia is elated after winning first place in a d...,"[-0.016794022172689438, -0.008056591264903545,..."
13,Noah,Noah is thrilled to be a new homeowner and is ...,"[0.00769903464242816, -0.012579371221363544, -..."
14,Charlotte,Charlotte is ecstatic after getting tickets to...,"[0.00039725363603793085, 0.0016487269895151258..."

# New Query

In [17]:
query = 'who have a apartment in Israel ?'
query_emb = get_embedding([query])[0]

# Normalize

In [18]:
best_ind = df['embeddings'].map(
    lambda emb: np.dot(emb , query_emb)/ (
        np.linalg.norm(emb) * np.linalg.norm(query_emb)
    )
).argmax()

# Prompt

In [19]:
prompt = ("the best answer is : " + df['text'][best_ind])
prompt

"the best answer is : Sarah lives in tel aviv, Sarah is overjoyed with the news of her promotion and can't wait to start her new job. Sarah is feeling anxious about her upcoming presentation and is practicing her speech over and over again. Sarah is heartbroken after her dog passed away and is taking some time off work to grieve.,"

# END